@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-hover: hsl(245, 75%, 52%, 70%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

a {
    cursor: pointer;
}

.btn {
    width: 100%;
    padding-block: 1em;
    background-color: var(--bright-blue);
    color: white;
    font-size: 1em;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0 20px 30px -15px var(--bright-blue-hover);
    letter-spacing: 0.02em;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--bright-blue-hover);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--pale-blue);
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    color: var(--desaturated-blue);
}

.card__header > img {
    width: 100%;
    height: auto;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2.5em;
}

.title {
    margin-block-end: 1em;
    font-size: 1.5em;
    font-weight: 900;
    color: var(--dark-blue);
}

.card__content > p {
    width: 30ch;
    font-size: 1em;
    font-weight: 500;
    color: var(--desaturated-blue);
    text-align: center;
}

.plan {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
    width: 100%;
    padding: 1em;
    margin-block: 1.5em 2em;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
}

.plan__description {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0.1em;
}

.plan__type {
    color: var(--dark-blue);
    font-weight: 900;
}

.plan__change {
    margin-left: auto;
    font-weight: 700;
    color: var(--bright-blue);
    text-decoration: underline;
}

.plan__change:hover {
    color: var(--bright-blue-hover);
    text-decoration: none;
}

.cancel-btn {
    margin-block-start: 2em;
    font-weight: 900;
    text-decoration-line: none;
}

.cancel-btn:hover {
    color: var(--dark-blue);
}

.attribution {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
    background-color:hsl(225, 100%, 94%);
    /* visibility: collapse; */
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 481px) {
    .wrapper {
        padding-inline: 1.5em;
        background-image: url('./images/pattern-background-mobile.svg');
    }

    .card__content {
        padding: 2em 1.5em;
    }

    .card__content > p {
        width: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
    body {
        font-size: 0.8em;
    }

    .card {
        width: 30%;
    }
}